html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
}
.fl {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-around;
  align-items: center;
flex-wrap: wrap;

}
.me {

  text-align: center;
  font-size: 150%;
  word-spacing: 0.3em;
  font-weight: 500;
  margin-left: 10%;
}
.fotome {
  margin-right: 10%;
  margin-left: 10%;
}

@media (max-width: 431px) {
  .fototel {
    width: 250px;
    border-radius: 15px;
  }
}

@media (min-width: 432px) {
.fototel {
  width: 500px;
  border-radius: 15px;
}
}



nav ul {
  display: flex;
  margin-top: 20px;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  }
nav li {
  list-style: none;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  margin-left: 25px;
}
nav a {
  text-decoration: none;
  margin-right: 0px;
  color: black;
}

nav ul a:hover {
  text-decoration: underline;
  margin-right: 0px;
  color: black;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  word-spacing: 0.8em;
  letter-spacing: 0.8em;
  margin-left: 20px;

}


h3 {
  font-size: 30px;
  margin-left: 10%;
}

.line {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  width: 85%;
  border-top: 1px solid rgb(141, 141, 141);
  border-radius: 15px;
}
.about-text {
  margin-left: 10%;
  margin-right: 10%;
}
button {
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border-radius: 6px;
  background-color: rgb(136, 135, 135);
  border: 0px solid;
}
button:hover {
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border-radius: 6px;
  background-color: rgb(161, 161, 161);
  border: 0px solid;
}

@keyframes color-change {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.animation {
  animation: color-change 2s;
}


.flat {
  display: flex;
  justify-content: space-around;
flex-wrap: wrap;
}

.fotome2 {

}


@media (max-width:431px) {
img[alt="myphoto1"] {
  width: 250px;
    border-radius: 15px;
    }
  }
  @media (min-width:432px) {
    img[alt="myphoto1"] {
      width: 330px;
        border-radius: 15px;
        }
      }